In [1]:
import json

import pandas as pd
from sklearn.preprocessing import LabelBinarizer

# Завдання

## 1. Зчитати дані у файлі `clients.json`

In [2]:
with open('./clients.json') as f:
    data = json.load(f)

In [3]:
data

{'clients': [{'id': '59761c23b30d971669fb42ff',
   'isActive': True,
   'age': 36,
   'name': 'Dunlap Hubbard',
   'gender': 'male',
   'company': 'CEDWARD',
   'email': 'dunlaphubbard@cedward.com',
   'phone': '+1 (890) 543-2508',
   'address': '169 Rutledge Street, Konterra, Northern Mariana Islands, 8551'},
  {'id': '59761c233d8d0f92a6b0570d',
   'isActive': True,
   'age': 24,
   'name': 'Kirsten Sellers',
   'gender': 'female',
   'company': 'EMERGENT',
   'email': 'kirstensellers@emergent.com',
   'phone': '+1 (831) 564-2190',
   'address': '886 Gallatin Place, Fannett, Arkansas, 4656'},
  {'id': '59761c23fcb6254b1a06dad5',
   'isActive': True,
   'age': 30,
   'name': 'Acosta Robbins',
   'gender': 'male',
   'company': 'ORGANICA',
   'email': 'acostarobbins@organica.com',
   'phone': '+1 (882) 441-3367',
   'address': '697 Linden Boulevard, Sattley, Idaho, 1035'}]}

## 2. Дописати декілька клієнтів у файл

In [4]:
new_clients = (
    {
        'id': '59761c23b30d971669fb42fg', 'isActive': False, 'age': 28, 'name': 'Client1',
        'gender': 'female', 'company': 'Company1', 'email': 'customer1@mail.com',
        'phone': '+1 (882) 441-3368', 'address': 'Tarnavskogo, Lviv, 79000'
    },
    {
        'id': '59761c23b30d971669fb42fh', 'isActive': False, 'age': 32, 'name': 'Client2',
        'gender': 'male', 'company': 'Company2', 'email': 'customer2@mail.com',
        'phone': '+1 (882) 441-3369', 'address': 'Dragomanova, Lviv, 79000'
    }
)
# add new clients
data['clients'].extend(new_clients)

# write to file
with open('./clients.json', 'w') as f:
    f.seek(0)
    json.dump(data, f, indent=4)

## 3. Обчислити скільки є клієнтів

In [5]:
num_of_clients = len(data['clients'])
print('Number of clients:', num_of_clients)

Number of clients: 5

## 4. Визначити середній вік клієнтів

In [6]:
mean_age = sum(client['age'] for client in data['clients']) / num_of_clients
print('Average client age:', mean_age)

Average client age: 30.0

## 5. Вивести список email всіх клієнтів

In [7]:
print('Client emails:', [client['email'] for client in data['clients']])

Client emails: ['dunlaphubbard@cedward.com', 'kirstensellers@emergent.com', 'acostarobbins@organica.com', 'customer1@mail.com', 'customer2@mail.com']

## 6. Використати `LabelBinarizer()` для переведення ключів `isActive`, `gender`,   
## `company` в числовий формат.

In [8]:
# create dataframe from dict
df = pd.DataFrame.from_dict(data['clients'])

# initialize LabelBinarizer
lb = LabelBinarizer()
df['isActive'] = lb.fit_transform(df['isActive'])
df['gender'] = lb.fit_transform(df['gender'])

# turn column to categorical
df['company'] = df['company'].astype('category')
df['company_code'] = df['company'].cat.codes

In [9]:
df

,id,isActive,age,name,gender,company,email,phone,address,company_code
0,59761c23b30d971669fb42ff,1,36,Dunlap Hubbard,1,CEDWARD,dunlaphubbard@cedward.com,+1 (890) 543-2508,"169 Rutledge Street, Konterra, Northern Marian...",0
1,59761c233d8d0f92a6b0570d,1,24,Kirsten Sellers,0,EMERGENT,kirstensellers@emergent.com,+1 (831) 564-2190,"886 Gallatin Place, Fannett, Arkansas, 4656",3
2,59761c23fcb6254b1a06dad5,1,30,Acosta Robbins,1,ORGANICA,acostarobbins@organica.com,+1 (882) 441-3367,"697 Linden Boulevard, Sattley, Idaho, 1035",4
3,59761c23b30d971669fb42fg,0,28,Client1,0,Company1,customer1@mail.com,+1 (882) 441-3368,"Tarnavskogo, Lviv, 79000",1
4,59761c23b30d971669fb42fh,0,32,Client2,1,Company2,customer2@mail.com,+1 (882) 441-3369,"Dragomanova, Lviv, 79000",2

## 7. Створити нову табличку з «корисними» даними про клієнтів для процесу кластеризації.

In [10]:
# parse address column to get state names
df['state'] = df['address'].str.split(',').str[-2]
df.loc[:, ('id', 'isActive', 'gender', 'company_code', 'state')]

,id,isActive,gender,company_code,state
0,59761c23b30d971669fb42ff,1,1,0,Northern Mariana Islands
1,59761c233d8d0f92a6b0570d,1,0,3,Arkansas
2,59761c23fcb6254b1a06dad5,1,1,4,Idaho
3,59761c23b30d971669fb42fg,0,0,1,Lviv
4,59761c23b30d971669fb42fh,0,1,2,Lviv